<form
  action="/favourite-list/<%= house.houseID %>"
  method="POST"
  class="flex-1 flex justify-center items-center"
>
  <input type="hidden" name="houseID" value="<%= house.houseID %>" />
  <button
    type="submit"
    class="w-full h-full bg-red-500 hover:bg-red-700 text-white rounded transition flex justify-center items-center"
    title="Remove from Favourites"
    aria-label="Remove from Favourites"
  >
    <i data-lucide="heart-off"></i>
  </button>
</form>
