<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add home</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <h1 class="bg-amber-600">Register your home here:</h1>
    <form action="/host/add-home" method="POST" class="bg-amber-950">
      <input type="text" name="home-name" placeholder="Enter home name" />
      <input type="text" name="city" placeholder="Enter city" />
      <input type="submit" />
    </form>
  </body>
</html>
