<%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="bg-black min-h-screen flex justify-center items-center">
      <div class="bg-zinc-900 rounded-lg shadow p-4 m-4 w-[90%]">
        <h1 class="text-2xl font-bold text-white mb-6 text-center">
          Register your home
        </h1>
        <form action="/host/add-home" method="POST" class="flex flex-col gap-4">
          <input
            type="text"
            name="houseName"
            placeholder="Enter home name"
            class="px-4 py-2 rounded text-black"
            required
          />
          <input
            type="text"
            name="houseLocation"
            placeholder="Enter Location"
            class="px-4 py-2 rounded text-black"
            required
          />
          <input
            type="number"
            min="0"
            name="housePrice"
            placeholder="Enter Price Per Night"
            class="px-4 py-2 rounded text-black"
            required
          />
          <input
            type="number"
            min="0"
            max="5"
            name="houseRating"
            placeholder="Enter Rating"
            class="px-4 py-2 rounded text-black"
            required
          />
          <input
          type="text"
          name="houseURL"
          placeholder="Enter House Image URL"
          class="px-4 py-2 rounded text-black"
          required
        />
          <input
            type="submit"
            value="Register"
            class="mt-2 bg-amber-600 hover:bg-amber-700 text-black font-medium py-2 rounded cursor-pointer transition"
          />
         
        </form>
      </div>
    </div>
    
  </body>
</html>
