@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --bg: theme(colors.gray.200);
  --text: theme(colors.gray.950);
}

.dark {
  --bg: theme(colors.gray.950);
  --text: theme(colors.gray.100);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
    border-color: transparent;
  }
  50% {
    opacity: 0.7;
    border-color: currentColor;
  }
}
.blink-border {
  animation: blink 1.5s infinite;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
